
@media screen and (max-width: 600px) {
 
    
    
<<<<<<< HEAD
    .logo {
      height: 40px;
      padding-left: 9px;
    }

    .menu {
      right: 3%;
    }

   
    .menu li {
      font-size: 14px;
      margin-right: 10px;
    }
  

    .side-image {
      height: 120px;
      width: 120px;
      margin-left: 40%;
    }

    .side-text p{
        padding-left: 80px;
    }

    .side-text h1{
        padding-left: 75px;
    }
  
    .footer-img {
      width: 40%;
      height: 14%;
      padding-left: 30px;
    }
  
    .contact {
      width: 40%;
      height: 14%;
      padding-left: 40px;
    }
  
    .call {
      width: 40%;
      height: 14%;
      padding-left: 130px;
    }
  
    .call h6 {
      font-size: 12px;
    }
  
    .allcard {
      flex-direction: column;
      padding: 20px 40px 10px 40px;
    }
  
    .cd {
      width: 330px;
      height: auto;
      margin-bottom: 20px;
    }
  
    .about-content {
      padding-left: 20px;
      padding-right: 10px;
    }

    .myimage {
        padding-left: 126px;
        padding-top: 5px;
    }

    .abt{
        display: flex;
        flex-direction: column;
    }

    .backImage {
        background-image: url("image/back-image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100%;
        width: 100%;
        filter: blur(0);
        transition: filter 0.5s ease;
      }

      .backText {

        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        padding: 20px;
        padding-top: 50px;
        padding-bottom: 5px;
        padding-right: 128px;
        text-align: center;
      }
      



=======
  .logo {
    height: 40px;
    padding-left: 9px;
>>>>>>> ce0377f9b3acdef5fc0c863df13c6d76d354663a
  }

  .menu {
    right: 3%;
  }


 
  .menu li {
    font-size: 14px;
    margin-right: 10px;
  }


  .side-image {
    height: 120px;
    width: 120px;
    margin-left: 40%;
  }

  .side-text p{
      padding-left: 80px;
  }

  .side-text h1{
      padding-left: 75px;
  }

  .footer-img {
    width: 40%;
    height: 14%;
    padding-left: 30px;
  }

  .contact {
    width: 40%;
    height: 14%;
    padding-left: 40px;
  }

  .call {
    width: 40%;
    height: 14%;
    padding-left: 130px;
  }

  .call h6 {
    font-size: 12px;
  }

  .allcard {
    flex-direction: column;
    padding: 20px 40px 10px 40px;
  }

  .cd {
    width: 330px;
    height: auto;
    margin-bottom: 20px;
  }

  .about-content {
    padding-left: 20px;
    padding-right: 10px;
  }

  .myimage {
      padding-left: 126px;
      padding-top: 5px;
  }

  .abt{
      display: flex;
      flex-direction: column;
  }

  .backImage {
      background-image: url("image/back-image.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 100%;
      width: 100%;
      filter: blur(0);
      transition: filter 0.5s ease;
    }

    .backText {

      background-color: rgba(0, 0, 0, 0.4);
      color: white;
      font-weight: bold;
      border: 3px solid #f1f1f1;
      position: absolute;
      top: 32%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      padding: 20px;
      padding-top: 50px;
      padding-bottom: 5px;
      padding-right: 128px;
      text-align: center;
    }
    



}


@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: block;
  }
}