body {
  text-align: center;
  margin: 0;
  height: 100%;

}

html {
  scroll-behavior: smooth;
  height: 100%;
  background-color: #111111;
}



.navbar {
  overflow: hidden;
  width: 100%
}

.nav-btn {
  padding: 5px 10px 10px 10px;
}


.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 0;
  flex-direction: row;
}

.menu a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: 0.25s ease;
}

/* .menu a:hover {
  color: gray;
} */

/* .nav-btn ul:hover a {
  color: #454545;
} */

.nav-btn ul:hover a:hover {
  color: #5cdb95;
  box-shadow: 0 2px 0 0;
}

.menu li {
  display: list-item;
  margin-right: 30px;
  font-size: 18px;
}

.logo {
  height: 60px;
  width: 100%;
  padding-left: 35px;
}

.logo:hover {
    transform: scale(1.07);
}

 .backImage {
  background-image: url("image/back-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  filter: blur(0);
  transition: filter 0.5s ease;
}



.blur {
  filter: blur(10px);
}



.backText {

  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 5px;
  padding-right: 128px;
  text-align: center;
}

.side-image {
  height: 150px;
  width: 150px;
  margin-left: 30%;
  float: left;
  position: relative;
  display: inline-block;
}

.sideImage {
  height: 100px;
  width: 140px;
  transition: transform 0.3s ease;
}

.side-image:hover .sideImage {
  transform: scale(1.2);
}

.backText p {
  font-size: 20px;
}


footer {
  background-color: #e9e9e9;
  margin-top: 8%;
}


.container4 {
  display: flex;
  overflow: hidden;
  padding: 20px;
}

.footer-img {
  width: 30%;
  height: 14%;
  padding-left: 30px;
}

.footer-img img{
  width: 155px;
  height: 96px;
}

.contact {
  width: 30%;
  height: 14%;
  padding-left: 77px;
}

.call {
  width: 30%;
  height: 14%;
  padding-left: 350px;
}

.call h6:hover {
  color: gray;
}

.right {
  padding-bottom: 10px;
  padding-top: 1px;
  padding-left: 20px;
}





.typing {
  font-size: 25px;
  color: #29e9bc
}



.scrolled {
  background-color: rgba(0,0,0,0.85);
  transition: background-color 0.4s ease;
}

.service {
  text-align: center;
  color: #29e9bcf8;
  padding-top: 70px;
  padding-bottom: 40px;
}

.allcard {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding : 40px 100px 10px 100px;
}


.cd:hover {
    height : 350px;
    transform: scale(1.1);
    background-color: #29e9bcf8;
    transition: transform 0.8s ease;
}


.cd-content {
   display: none;
 }

 .cd:hover .cd-content {
   display: block;
 }


.cd {
      width: 335px;
      height: 150px;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 16px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.cd-title {
     font-size: 20px;
     font-weight: bold;
     margin-bottom: 8px;
     padding-bottom: 10px;
     color: white;
     transition: color 0.3s;
}

.cd-text {
     font-size: 16px;
     margin-bottom: 16px;
     color: white;
     transition: color 0.3s;
}

.uitext {
  padding-left: 13px;
}

.cd:hover .cd-title {
  color : black;
}

.cd:hover .cd-text {
  color : black;
}

.cd i{
   font-size: 2rem;
   padding-left: 130px;
   padding-bottom: 15px;
}

.cd .fa-code {
   color: #29e9bc;
 }

.cd:hover .fa-code {
   color: black;
}

.cd .fa-laptop-code {
   color: #29e9bc;
 }

.cd:hover .fa-laptop-code {
   color: black;
}

.title1{
  padding-left: 87px;
}

.title3 {
  padding-left: 62px;
}

.about {

}

.myimage img {
  height: 180px;
  width: 158px;
  border-radius: 10%
}


.about h2 {
  color: #29e9bc;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 40px;
}

.myimage {
  padding-left: 200px;
  padding-top: 35px;
  display: flex;
  flex-direction: row;
}

.abt {
  display: flex;
  flex-direction: row;
}

.about-content {
  padding : 44px 190px 0px 70px;
}

.about-content h3,
.about-content p {
  color: white;
}
/* 
.about-content button {
  background-color: #29e9bc;
  border-radius: 30px;
  height: 35px;
  width: 130px;
}

.about-content button:hover {
  background-color: black;
  color: #29e9bc;
} */
